header#header.app-header.navbar(role='menu')
	.navbar-header.bg-dark
		button.pull-right.visible-xs(ui-toggle-class='off-screen', target='.app-aside', ui-scroll='app')
			i.glyphicon.glyphicon-align-justify

		a.navbar-brand.text-lt(ui-sref="app.dashboard")
			i.fa.fa-btc
			img.hide(src='img/logo.png')
			span.hidden-folded.m-l-xs Bitkup

	.collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only

		.nav.navbar-nav.hidden-xs
			a.btn.no-shadow.navbar-btn(href='#' ui-toggle-class='app-aside-folded' target='.app')
				i.fa.fa-dedent.fa-fw.text
				i.fa.fa-indent.fa-fw.text-active
			a.btn.no-shadow.navbar-btn(href='#' ui-toggle-class='show' target='#aside-user')
				i.icon-user.fa-fw
		ul.nav.navbar-nav.navbar-right

			li.dropdown
				a.dropdown-toggle.clear(data-toggle='dropdown' style="cursor: pointer;")
					span.thumb-sm.avatar.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
						img(src='https://randomuser.me/api/portraits/men/11.jpg', alt='...')
						i.on.md.b-white.bottom
					span.hidden-sm.hidden-md Bitkup
					b.caret

				ul.dropdown-menu.animated.fadeInRight.w
					li
						a(ng-click="logout()") Sair

aside#aside.app-aside.hidden-xs.bg-dark
	.aside-wrap
		.navi-wrap
			nav.navi.clearfix(ui-nav='')
				ul.nav
					a(ui-sref="app.dashboard" ui-sref-active="active")
						i.fa.fa-money
						span Bets

div#content.app-content(role='main')
	.app-content-body
		.hbox.hbox-auto-xs.hbox-auto-sm
			.col
				div#no-provider(ng-if="!web3.loaded")
					.bg-danger.lter.b-b.wrapper-md
						.row
							.col-sm-12.col-xs-12
								h1.m-n.font-thin.h3.text-white Please install MetaMask and log in to an account to continue.
				ui-view(ng-if="web3.loaded")
